yuding/Web References/net.kuaishun.fx/SendSms.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendSameSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMSTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SMSTemplateId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SMSParam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hotelcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSameSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSameSmsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSameSmsSoapIn">
    <wsdl:part name="parameters" element="tns:SendSameSms" />
  </wsdl:message>
  <wsdl:message name="SendSameSmsSoapOut">
    <wsdl:part name="parameters" element="tns:SendSameSmsResponse" />
  </wsdl:message>
  <wsdl:portType name="SendSmsSoap">
    <wsdl:operation name="SendSameSms">
      <wsdl:input message="tns:SendSameSmsSoapIn" />
      <wsdl:output message="tns:SendSameSmsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendSmsSoap" type="tns:SendSmsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSameSms">
      <soap:operation soapAction="http://tempuri.org/SendSameSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendSmsSoap12" type="tns:SendSmsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSameSms">
      <soap12:operation soapAction="http://tempuri.org/SendSameSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendSms">
    <wsdl:port name="SendSmsSoap" binding="tns:SendSmsSoap">
      <soap:address location="http://fx.kuaishun.net/Sms/WebService/SendSms.asmx" />
    </wsdl:port>
    <wsdl:port name="SendSmsSoap12" binding="tns:SendSmsSoap12">
      <soap12:address location="http://fx.kuaishun.net/Sms/WebService/SendSms.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>